<!DOCTYPE html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page_title }} - {{ shop.name }}</title>
  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

  {{ 'zym.css' | asset_url | stylesheet_tag }}

  {{ content_for_header }}
</head>
<body class="template-{{ template.name }}">
  {% section 'header' %}

  <main id="MainContent" role="main">
    {{ content_for_layout }}
  </main>

  <footer class="zym-footer">
    <div class="zym-container">
      <div class="zym-footer-grid">
        <div class="zym-footer-brand">
          <a href="/" class="zym-footer-logo">
            <span class="zym-footer-logo-text">Zymera</span>
          </a>
          <p class="zym-footer-tagline">Tu bienestar comienza aqui.</p>
          <div class="zym-footer-social">
            <a href="#" class="zym-social-link" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="#" class="zym-social-link" target="_blank"><i class="fab fa-facebook-f"></i></a>
          </div>
        </div>
        <div class="zym-footer-col">
          <h4 class="zym-footer-title">Tienda</h4>
          <ul class="zym-footer-list">
            <li><a href="/collections/aromaterapia">Aromaterapia</a></li>
            <li><a href="/collections/skincare">Skincare</a></li>
            <li><a href="/collections/yoga-meditacion">Yoga & Meditacion</a></li>
            <li><a href="/collections/sueno-descanso">Sueno & Descanso</a></li>
          </ul>
        </div>
        <div class="zym-footer-col">
          <h4 class="zym-footer-title">Empresa</h4>
          <ul class="zym-footer-list">
            <li><a href="/pages/about">Nuestra Historia</a></li>
            <li><a href="/pages/contact">Contacto</a></li>
            <li><a href="/blogs/blog">Blog</a></li>
          </ul>
        </div>
        <div class="zym-footer-col">
          <h4 class="zym-footer-title">Contacto</h4>
          <ul class="zym-footer-list zym-footer-contact">
            <li><i class="fas fa-envelope"></i> hola@zymera.com</li>
            <li><i class="fas fa-phone"></i> +1 (555) 123-4567</li>
          </ul>
        </div>
      </div>
      <div class="zym-footer-bottom">
        <p class="zym-footer-copy">&copy; 2026 Zymera. Todos los derechos reservados.</p>
        <div class="zym-footer-payment">
          <i class="fab fa-cc-visa"></i>
          <i class="fab fa-cc-mastercard"></i>
          <i class="fab fa-cc-amex"></i>
          <i class="fab fa-cc-paypal"></i>
        </div>
      </div>
    </div>
  </footer>

  {{ 'zym.js' | asset_url | script_tag }}
</body>
</html>
